extends masterPug.pug 

block headContent
  link(rel='stylesheet', type='text/css', href='stylesheets/css/dashboard2.css')

block dashboardLink
  li.nav-item.active
    a.nav-link(href="/dashboard") Dashboard 

block bodyContent
  div.account-analytics
    div.account-standing
      h1.account-standing-label Account Standing: 
        span.account-standing-value(id='standing') Calculating...
    div.account-graph-holder
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      div.account-graph
        canvas(id='folio-value', height='600', width='800')
        //Import the chart.js library
  div.suggested-actions-wrapper
    h1.suggested-actions-heading Suggested Actions
    div.feed-wrapper
      table.suggested-actions-feed 
        each notif in notifications
          div.suggested-action
            if (notif.action === 'Sell')
              p.investment-name You should sell your #{notif.quantity} shares of #{notif.symbol} since the price is $#{notif.price}.
            else
              p.investment-name You should start buying more stock in #{notif.symbol} since the price is $#{notif.price}.
            //p.investment-name #{notif.symbol} 
            //p.investment-action #{notif.action}
            //p.investment-action-date #{notif.action_date}
            //p.investment-quantity #{notif.quantity}
            //p.investment-price $#{notif.price} 
        else
          p.no-actions-notification There are no actions to take at the moment
  div.investment-link-wrapper
    p.investment-verbage Want to edit your current investments?
      a.investment-link(href='/investments') Click Here!
  div.auxillary-analytics
    div.account-graph-holder2
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      div.account-graph
        canvas(id='folio-value2', height='600', width='800')
        //Import the chart.js library
        //Import stocks library
        script(src='js/stocks.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js')
        script(src='js/dash-chart.js')
  div.ticker-wrap
    div.ticker(id='ticker')
      span(id='load') Loading Data...
  script(src='js/ticker.js')
  //- div.current-investment-wrapper
  //-   div.current-investment-feed
